
.card-image{
    overflow: hidden;
    position: relative;
}
.card:hover img{
    transform: scale(1.2,1.2);
    transition: ease-out;

}

.card:hover img{
    transform: scale(1.2,1.2);
    transition: ease-out .5s;
    height: 250px;
    opacity: .7;
}

.card img{
    transform: scale(1,1);
    transition: ease-out .5s;
    height: 250px;
}

.member-icon{
    position: absolute;
    bottom: -10%;
    left:0;
    right: 0;
    margin-right:auto;
    margin-left: auto;
    opacity: 0;
}

.card:hover .member-icon{
    bottom: 0;
    transition: ease-in-out .5s;
    opacity: 1;
}